$tabletWidth: 768px;
$mobileWidth: 500px;

@mixin tablet {
    @media (max-width: $tabletWidth) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobileWidth) {
        @content;
    }
}

body {
    background-color: antiquewhite;
}

.breakpoint-monitor {
    animation: toDesktop 0s;

    @include tablet {
        animation: toTablet 0s;
    }

    @include mobile {
        animation: toMobile 0s;
    }
}

.breakpoint-monitor:after {
    content: "desktop";

    @include tablet {
        content: "tablet"
    }

    @include mobile {
        content: "mobile";
    }
}

@keyframes toMobile {
    100% {
        background-color: #fff;
    }
}

@keyframes toTablet {
    100% {
        background-color: #fff;
    }
}

@keyframes toDesktop {
    100% {
        background-color: #fff;
    }
}